/* line 17, ../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../_scss/_syntax.scss */
.highlight {
  background-color: #073642;
  color: #93a1a1;
}

/* line 6, ../_scss/_syntax.scss */
.highlight .c {
  color: #586e75 !important;
  font-style: italic !important;
}

/* line 11, ../_scss/_syntax.scss */
.highlight .cm {
  color: #586e75 !important;
  font-style: italic !important;
}

/* line 16, ../_scss/_syntax.scss */
.highlight .cp {
  color: #586e75 !important;
  font-style: italic !important;
}

/* line 21, ../_scss/_syntax.scss */
.highlight .c1 {
  color: #586e75 !important;
  font-style: italic !important;
}

/* line 26, ../_scss/_syntax.scss */
.highlight .cs {
  color: #586e75 !important;
  font-style: italic !important;
}

/* line 31, ../_scss/_syntax.scss */
.highlight .err {
  color: #dc322f !important;
  background: none !important;
}

/* line 36, ../_scss/_syntax.scss */
.highlight .k {
  color: #cb4b16 !important;
}

/* line 40, ../_scss/_syntax.scss */
.highlight .o {
  color: #93a1a1 !important;
}

/* line 44, ../_scss/_syntax.scss */
.highlight .p {
  color: #93a1a1 !important;
}

/* line 48, ../_scss/_syntax.scss */
.highlight .ow {
  color: #2aa198 !important;
}

/* line 52, ../_scss/_syntax.scss */
.highlight .gd {
  color: #93a1a1 !important;
  background-color: #372c34 !important;
  display: inline-block;
}

/* line 58, ../_scss/_syntax.scss */
.highlight .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d33 !important;
  display: inline-block;
}

/* line 64, ../_scss/_syntax.scss */
.highlight .ge {
  color: #93a1a1 !important;
  font-style: italic !important;
}

/* line 69, ../_scss/_syntax.scss */
.highlight .gr {
  color: #aa0000;
}

/* line 73, ../_scss/_syntax.scss */
.highlight .gh {
  color: #586e75 !important;
}

/* line 77, ../_scss/_syntax.scss */
.highlight .gi {
  color: #93a1a1 !important;
  background-color: #1a412b !important;
  display: inline-block;
}

/* line 83, ../_scss/_syntax.scss */
.highlight .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block;
}

/* line 89, ../_scss/_syntax.scss */
.highlight .go {
  color: #888888;
}

/* line 93, ../_scss/_syntax.scss */
.highlight .gp {
  color: #555555;
}

/* line 97, ../_scss/_syntax.scss */
.highlight .gs {
  color: #93a1a1 !important;
}

/* line 101, ../_scss/_syntax.scss */
.highlight .gu {
  color: #6c71c4 !important;
}

/* line 105, ../_scss/_syntax.scss */
.highlight .gt {
  color: #aa0000;
}

/* line 109, ../_scss/_syntax.scss */
.highlight .kc {
  color: #859900 !important;
}

/* line 113, ../_scss/_syntax.scss */
.highlight .kd {
  color: #268bd2 !important;
}

/* line 117, ../_scss/_syntax.scss */
.highlight .kp {
  color: #cb4b16 !important;
}

/* line 121, ../_scss/_syntax.scss */
.highlight .kr {
  color: #d33682 !important;
}

/* line 125, ../_scss/_syntax.scss */
.highlight .kt {
  color: #2aa198 !important;
}

/* line 129, ../_scss/_syntax.scss */
.highlight .n {
  color: #268bd2 !important;
}

/* line 133, ../_scss/_syntax.scss */
.highlight .na {
  color: #268bd2 !important;
}

/* line 137, ../_scss/_syntax.scss */
.highlight .nb {
  color: #859900 !important;
}

/* line 141, ../_scss/_syntax.scss */
.highlight .nc {
  color: #d33682 !important;
}

/* line 145, ../_scss/_syntax.scss */
.highlight .no {
  color: #b58900 !important;
}

/* line 149, ../_scss/_syntax.scss */
.highlight .ni {
  color: #800080;
}

/* line 153, ../_scss/_syntax.scss */
.highlight .nl {
  color: #859900 !important;
}

/* line 157, ../_scss/_syntax.scss */
.highlight .ne {
  color: #268bd2 !important;
}

/* line 161, ../_scss/_syntax.scss */
.highlight .nf {
  color: #268bd2 !important;
}

/* line 165, ../_scss/_syntax.scss */
.highlight .nn {
  color: #b58900 !important;
}

/* line 169, ../_scss/_syntax.scss */
.highlight .nt {
  color: #268bd2 !important;
}

/* line 173, ../_scss/_syntax.scss */
.highlight .nx {
  color: #b58900 !important;
}

/* line 177, ../_scss/_syntax.scss */
.highlight .bp {
  color: #999999;
}

/* line 181, ../_scss/_syntax.scss */
.highlight .vc {
  color: #008080;
}

/* line 185, ../_scss/_syntax.scss */
.highlight .vg {
  color: #268bd2 !important;
}

/* line 189, ../_scss/_syntax.scss */
.highlight .vi {
  color: #268bd2 !important;
}

/* line 193, ../_scss/_syntax.scss */
.highlight .nv {
  color: #268bd2 !important;
}

/* line 197, ../_scss/_syntax.scss */
.highlight .w {
  color: #bbbbbb;
}

/* line 201, ../_scss/_syntax.scss */
.highlight .mf {
  color: #2aa198 !important;
}

/* line 205, ../_scss/_syntax.scss */
.highlight .m {
  color: #2aa198 !important;
}

/* line 209, ../_scss/_syntax.scss */
.highlight .mh {
  color: #2aa198 !important;
}

/* line 213, ../_scss/_syntax.scss */
.highlight .mi {
  color: #2aa198 !important;
}

/* line 217, ../_scss/_syntax.scss */
.highlight .mo {
  color: #009999;
}

/* line 221, ../_scss/_syntax.scss */
.highlight .s {
  color: #2aa198 !important;
}

/* line 225, ../_scss/_syntax.scss */
.highlight .sb {
  color: #d14;
}

/* line 229, ../_scss/_syntax.scss */
.highlight .sc {
  color: #d14;
}

/* line 233, ../_scss/_syntax.scss */
.highlight .sd {
  color: #2aa198 !important;
}

/* line 237, ../_scss/_syntax.scss */
.highlight .s2 {
  color: #2aa198 !important;
}

/* line 241, ../_scss/_syntax.scss */
.highlight .se {
  color: #dc322f !important;
}

/* line 245, ../_scss/_syntax.scss */
.highlight .sh {
  color: #d14;
}

/* line 249, ../_scss/_syntax.scss */
.highlight .si {
  color: #268bd2 !important;
}

/* line 253, ../_scss/_syntax.scss */
.highlight .sx {
  color: #d14;
}

/* line 257, ../_scss/_syntax.scss */
.highlight .sr {
  color: #2aa198 !important;
}

/* line 261, ../_scss/_syntax.scss */
.highlight .s1 {
  color: #2aa198 !important;
}

/* line 265, ../_scss/_syntax.scss */
.highlight .ss {
  color: #990073;
}

/* line 269, ../_scss/_syntax.scss */
.highlight .il {
  color: #009999;
}

/* line 273, ../_scss/_syntax.scss */
.highlight div .gd, .highlight div .gd .x, .highlight div .gi, .highlight div .gi .x {
  display: inline-block;
  width: 100%;
}

/* ==========================================================================
   Helpers classes and mixins
   ========================================================================== */
/* line 14, ../_scss/_helpers.scss */
.right {
  float: right;
}

/* line 15, ../_scss/_helpers.scss */
.left {
  float: left;
}

/*
 * Image replacement
 */
/* line 20, ../_scss/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 28, ../_scss/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 39, ../_scss/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 48, ../_scss/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 65, ../_scss/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 78, ../_scss/_helpers.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 95, ../_scss/_helpers.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 100, ../_scss/_helpers.scss */
.cf:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 109, ../_scss/_helpers.scss */
.cf {
  *zoom: 1;
}

@font-face {
  font-family: 'mikowl';
  src: url("../fonts/mikowl.eot");
  src: url("../fonts/mikowl.eot?#iefix") format("embedded-opentype"), url("../fonts/mikowl.woff") format("woff"), url("../fonts/mikowl.ttf") format("truetype"), url("../fonts/mikowl.svg#mikowl") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 13, ../_scss/_icons.scss */
[data-icon]:before {
  font-family: 'mikowl';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ico-"] {
*/
/* line 30, ../_scss/_icons.scss */
.ico-home, .ico-books, .ico-pushpin, .ico-download, .ico-link, .ico-twitter, .ico-github, .ico-facebook, .ico-heart, .ico-check-alt, .ico-forrst, .ico-user, .ico-navicon, .ico-mikowltxt, .ico-instagram-icon, .ico-bubbles, .ico-mailicon, .ico-file, .ico-file-2 {
  font-family: 'mikowl';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 40, ../_scss/_icons.scss */
.ico-home:before {
  content: "\e000";
}

/* line 43, ../_scss/_icons.scss */
.ico-books:before {
  content: "\e001";
}

/* line 46, ../_scss/_icons.scss */
.ico-pushpin:before {
  content: "\e002";
}

/* line 49, ../_scss/_icons.scss */
.ico-download:before {
  content: "\e003";
}

/* line 52, ../_scss/_icons.scss */
.ico-link:before {
  content: "\e004";
}

/* line 55, ../_scss/_icons.scss */
.ico-twitter:before {
  content: "\e005";
}

/* line 58, ../_scss/_icons.scss */
.ico-github:before {
  content: "\e006";
}

/* line 61, ../_scss/_icons.scss */
.ico-facebook:before {
  content: "\e007";
}

/* line 64, ../_scss/_icons.scss */
.ico-heart:before {
  content: "\e008";
}

/* line 67, ../_scss/_icons.scss */
.ico-check-alt:before {
  content: "\e009";
}

/* line 70, ../_scss/_icons.scss */
.ico-forrst:before {
  content: "\e00a";
}

/* line 73, ../_scss/_icons.scss */
.ico-user:before {
  content: "\e00b";
}

/* line 76, ../_scss/_icons.scss */
.ico-navicon:before {
  content: "\e00c";
}

/* line 79, ../_scss/_icons.scss */
.ico-mikowltxt:before {
  content: "\e00d";
}

/* line 82, ../_scss/_icons.scss */
.ico-instagram-icon:before {
  content: "\e00e";
}

/* line 85, ../_scss/_icons.scss */
.ico-bubbles:before {
  content: "\e00f";
}

/* line 88, ../_scss/_icons.scss */
.ico-mailicon:before {
  content: "\e010";
}

/* line 91, ../_scss/_icons.scss */
.ico-file:before {
  content: "\e012";
}

/* line 94, ../_scss/_icons.scss */
.ico-file-2:before {
  content: "\e011";
}

/*****************************************************************************/
/* Variables
/*****************************************************************************/
/*****************************************************************************/
/* Common
/*****************************************************************************/
/* line 32, ../_scss/_main.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4;
  color: #585858;
  background: #344551 url(../images/noise.png) repeat;
  text-rendering: optimizeLegibility;
}

/* line 42, ../_scss/_main.scss */
img {
  max-width: 100%;
}

/*****************************************************************************/
/* Typography
/*****************************************************************************/
/* line 51, ../_scss/_main.scss */
a {
  color: #de7568;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 55, ../_scss/_main.scss */
p {
  margin: 1em 0;
}

/* line 59, ../_scss/_main.scss */
strong {
  background: #eae9bd;
  color: #000;
  padding: 0 7px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 66, ../_scss/_main.scss */
h1, h2, h3, h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

/* line 71, ../_scss/_main.scss */
ul {
  margin: 1em 0;
}
/* line 74, ../_scss/_main.scss */
ul li {
  list-style-type: disc;
  margin-bottom: 0.5em;
}

/* line 80, ../_scss/_main.scss */
ol {
  margin: 1em 0;
  padding-left: 1em;
}
/* line 83, ../_scss/_main.scss */
ol li {
  list-style-type: decimal;
}

/* line 87, ../_scss/_main.scss */
h1 {
  font-size: 2.7em;
  margin: 0.5em 0;
  line-height: 1em;
  color: #485f70;
  border-bottom: 1px dashed #BABABA;
  padding-bottom: 0.4em;
  margin-bottom: 0.5em;
}

/* line 97, ../_scss/_main.scss */
h2 {
  font-size: 2em;
  line-height: 1.25em;
  margin: 0.5em 0;
  font-weight: 700;
}
/* line 102, ../_scss/_main.scss */
h2 a {
  color: #526d80;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
/* line 107, ../_scss/_main.scss */
h2 a:hover {
  color: #67879d;
  border-bottom: 3px solid #83d4aa;
}

/* line 115, ../_scss/_main.scss */
h3 {
  font-size: 1.6em;
  color: #d96253;
  font-weight: 700;
  margin: 0.75em 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 123, ../_scss/_main.scss */
h3 a {
  color: inherit;
  text-decoration: underline;
}
/* line 126, ../_scss/_main.scss */
h3 a:hover {
  color: #e3887d;
}

/* line 132, ../_scss/_main.scss */
blockquote {
  font-style: italic;
  position: relative;
  font-size: 1.1em;
  line-height: 1.5em;
  padding-left: 1em;
  border-left: 4px solid #dedc96;
}

/* line 140, ../_scss/_main.scss */
.date {
  color: #DE7568;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 147, ../_scss/_main.scss */
article {
  font-family: 'PT Serif', serif;
  line-height: 1.6em;
  font-weight: 300;
  border-bottom: 1px dashed #7FCDA5;
  padding-bottom: 0.75em;
  margin-bottom: 2em;
}
/* line 154, ../_scss/_main.scss */
article.single {
  border-bottom: none;
}
/* line 157, ../_scss/_main.scss */
article img {
  max-width: 100%;
  display: block;
  margin: 0 auto 0.65em auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/*****************************************************************************/
/* Home
/*****************************************************************************/
/* line 170, ../_scss/_main.scss */
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

/* line 175, ../_scss/_main.scss */
ul.posts li {
  line-height: 1.75em;
}

/* line 179, ../_scss/_main.scss */
ul.posts span {
  color: #aaa;
}

/*****************************************************************************/
/* Layout
/*****************************************************************************/
/* line 190, ../_scss/_main.scss */
.container {
  position: relative;
  *zoom: 1;
  max-width: 73.25em;
  _width: 73.25em;
  padding-left: 1.75em;
  padding-right: 1.75em;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 73.25em) {
  /* line 190, ../_scss/_main.scss */
  .container {
    max-width: 73.25em;
  }
}

/* line 196, ../_scss/_main.scss */
.content {
  position: relative;
  background: white url(../images/noise.png);
  padding-top: 25px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (min-width: 50em) {
  /* line 206, ../_scss/_main.scss */
  .main-content {
    padding-left: 1.36519%;
    padding-right: 1.36519%;
    width: 63.13993%;
    float: left;
    margin-right: 2.38908%;
    font-size: 1.1em;
  }

  /* line 210, ../_scss/_main.scss */
  .side-bar {
    padding-left: 1.36519%;
    padding-right: 1.36519%;
    width: 29.01024%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 65em) {
  /* line 217, ../_scss/_main.scss */
  .main-content {
    font-size: 1.25em;
  }

  /* line 220, ../_scss/_main.scss */
  body .side-bar {
    font-size: 1em;
  }
}
/*****************************************************************************/
/* Posts
/*****************************************************************************/
/* Code Blocks */
/* line 231, ../_scss/_main.scss */
.highlight {
  overflow-x: auto;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 237, ../_scss/_main.scss */
pre, code {
  font-family: 'Source Code Pro', sans-serif;
}

/* line 241, ../_scss/_main.scss */
pre {
  font-size: .75em;
  line-height: 1.4em;
  font-weight: 400;
  padding: 1em;
}

/* line 248, ../_scss/_main.scss */
code {
  padding: 0 .2em;
}

/* line 252, ../_scss/_main.scss */
p code, li code {
  display: inline-block;
  white-space: no-wrap;
  background: #fff;
  font-size: .75em;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #c4d1d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 .3em;
  margin: -1px 0;
}

/* line 264, ../_scss/_main.scss */
pre code {
  border: none;
}

/*Pagination */
/* line 271, ../_scss/_main.scss */
.pagination {
  text-align: center;
  position: relative;
  margin-bottom: 1em;
  padding: 0.5em;
}
/* line 277, ../_scss/_main.scss */
.pagination .next {
  position: absolute;
  right: 0;
}
/* line 281, ../_scss/_main.scss */
.pagination .prev {
  position: absolute;
  left: 0;
}
/* line 285, ../_scss/_main.scss */
.pagination .disabled {
  display: none;
}

/* Terminal */
/* line 290, ../_scss/_main.scss */
pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

/* line 296, ../_scss/_main.scss */
pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/* Footer
/*****************************************************************************/
/* line 304, ../_scss/_main.scss */
footer {
  color: #FFF;
}

/* line 308, ../_scss/_main.scss */
.smedia {
  font-size: 1.3em;
  margin-top: 14px;
}
/* line 311, ../_scss/_main.scss */
.smedia a {
  color: #FFF;
  margin: 0 0.2em;
}

/*****************************************************************************/
/* Site Header
/*****************************************************************************/
/* line 5, ../_scss/_header.scss */
.page-header {
  background: #354652 url(../images/noise.png) repeat;
  width: 100%;
  height: 243px;
  border-top: 5px solid #de7568;
  -webkit-transition: z-index 300ms ease-in-out, background 300ms ease-in-out, min-height 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition: z-index 300ms ease-in-out, background 300ms ease-in-out, min-height 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition: z-index 300ms ease-in-out, background 300ms ease-in-out, min-height 300ms ease-in-out, height 300ms ease-in-out;
  transition: z-index 300ms ease-in-out, background 300ms ease-in-out, min-height 300ms ease-in-out, height 300ms ease-in-out;
}

/* line 13, ../_scss/_header.scss */
.page-header:hover {
  background: #2f3e49 url(../images/noise.png) repeat;
}

/* line 17, ../_scss/_header.scss */
.brand .logo {
  background: transparent url(../img/grunt-logo.png) no-repeat;
  background-image: -webkit-linear-gradient(transparent, transparent), url(../images/mikowl.svg);
  background-image: -moz-linear-gradient(transparent, transparent), url(../images/mikowl.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/mikowl.svg);
  background-size: 100% auto;
  margin: 0 auto;
  padding: 1.25em 0 0 0;
  position: relative;
  display: block;
  width: 170px;
  height: 170px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 31, ../_scss/_header.scss */
.brand .logo:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 36, ../_scss/_header.scss */
a.brand {
  color: transparent;
}

/* line 39, ../_scss/_header.scss */
.brand {
  display: block;
  padding: 0.75em 0 0.3em 0;
  text-decoration: none;
}
/* line 43, ../_scss/_header.scss */
.brand h1 {
  font-size: 1.6em;
  color: #83d4aa;
  border-bottom: none;
  padding: 0;
  margin: 0;
  line-height: 1em;
  height: 40px;
  text-align: center;
}

/* line 55, ../_scss/_header.scss */
.hdr-fixed.active {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: #354652 url(../images/noise.png) repeat;
  z-index: 9999;
}
/* line 62, ../_scss/_header.scss */
.hdr-fixed.active .brand .logo {
  width: 80px;
  height: 80px;
  background-color: #344551;
  border: 5px solid #344551;
  padding: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 72, ../_scss/_header.scss */
.hdr-fixed.active .brand h1 {
  display: none;
}

/*****************************************************************************/
/* Navigation
/*****************************************************************************/
/* line 79, ../_scss/_header.scss */
a.navicon {
  position: absolute;
  right: 44px;
  top: 10px;
  display: block;
  text-decoration: none;
  line-height: 0.5em;
  padding: 8px;
  font-size: 1.6em;
  color: #83d4aa;
  background: #26323b;
}

/* line 92, ../_scss/_header.scss */
#menu {
  position: absolute;
  width: 51px;
  top: 52px;
  right: 15px;
  background: #26323b;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 99, ../_scss/_header.scss */
#menu ul {
  margin: 0;
  padding: 8px;
}
/* line 103, ../_scss/_header.scss */
#menu li {
  text-align: center;
  display: block;
  list-style-type: none;
  font-size: 1.5em;
  color: #FFF;
}
/* line 109, ../_scss/_header.scss */
#menu li:last-child {
  margin-bottom: 0;
}
/* line 112, ../_scss/_header.scss */
#menu li a {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #e8e6b5;
  text-decoration: none;
}
/* line 116, ../_scss/_header.scss */
#menu li a:hover {
  color: #f6f6e4;
}
/* line 121, ../_scss/_header.scss */
#menu .archives {
  font-size: 1.4em;
}
/* line 124, ../_scss/_header.scss */
#menu .twitter {
  font-size: 1.2em;
}

/* line 129, ../_scss/_header.scss */
.js #menu {
  overflow: hidden;
  max-height: 0;
}

/* line 134, ../_scss/_header.scss */
#menu.active {
  max-height: 20em;
}

/* line 1, ../_scss/_sidebar.scss */
.side-bar {
  font-size: 0.925em;
}
/* line 3, ../_scss/_sidebar.scss */
.side-bar section {
  margin-bottom: 1.25em;
}
/* line 6, ../_scss/_sidebar.scss */
.side-bar h2, .side-bar h3, .side-bar h4 {
  display: block;
  color: #FFF;
  font-weight: 400;
  margin: 0.4em 0;
  padding: 5px 10px 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 13, ../_scss/_sidebar.scss */
.side-bar h2 a, .side-bar h3 a, .side-bar h4 a {
  color: #FFF;
  text-decoration: none;
}
/* line 19, ../_scss/_sidebar.scss */
.side-bar h3 {
  font-size: 1.3em;
  background: #83d4aa;
}
/* line 24, ../_scss/_sidebar.scss */
.side-bar h4 {
  font-size: 1.2em;
  background: #de7568;
}
/* line 29, ../_scss/_sidebar.scss */
.side-bar li {
  list-style-type: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
/* line 33, ../_scss/_sidebar.scss */
.side-bar li:hover {
  background: #f2f1d4;
}

/* line 39, ../_scss/_sidebar.scss */
.about {
  overflow: hidden;
  *zoom: 1;
}
/* line 42, ../_scss/_sidebar.scss */
.about h3 {
  background: #485f70;
}
/* line 45, ../_scss/_sidebar.scss */
.about .insta {
  float: left;
  font-size: 1.2em;
  color: #344551;
  margin: 0.15em 0 0 1em;
  text-decoration: none;
}
/* line 51, ../_scss/_sidebar.scss */
.about .insta:hover {
  color: #5c7a8f;
}

/* line 56, ../_scss/_sidebar.scss */
figure.about {
  width: 95px;
  margin: 5px 0 0 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #de7568;
  float: right;
}
/* line 62, ../_scss/_sidebar.scss */
figure.about img {
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 68, ../_scss/_sidebar.scss */
.github span, .pinboards span, .recent-posts span {
  margin-right: 0.15em;
}

/* line 72, ../_scss/_sidebar.scss */
.recent-posts span {
  color: #8b8b8b;
  vertical-align: middle;
}

/* line 77, ../_scss/_sidebar.scss */
.pin-item span {
  font-size: 0.799em;
  color: #727272;
}

/* line 82, ../_scss/_sidebar.scss */
span.pin-description {
  font-size: 0.9em;
}

/* line 85, ../_scss/_sidebar.scss */
.twitter-follow-button {
  margin: 0.25em 0 0.5em 0;
  float: left;
}
