---
layout: default
page-class: home
---

{% for post in paginator.posts %}
{% if post.style %}
 <style type="text/css">
     {{ post.style }}
 </style>
{% endif %}
  <article>
    <span class="date">{{ post.date | date_to_string }}</span>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {{ post.content }}
  </article>
{% endfor %}

<div class="pagination">
{% if paginator.previous_page %}

  {% if paginator.previous_page == 1 %}
    <a class="next" href="/">Next</a>
    {% else %}
    <a class="next" href="{{ paginator.previous_page_path }}">Next</a>
  {% endif %}

  {% else %}
    <span class="next disabled">Next</span>
  {% endif %}

    <a href="/archives">Archives</a>

  {% if paginator.next_page %}
    <a class="prev" href="{{ paginator.next_page_path }}">Previous</a>
    {% else %}
    <span class="prev disabled">Previous</span>
  {% endif %}

</div>