      <header class="page-header">
        <div class="hdr-fixed">
          <div class="container">
            <div class="brand"><a href="/"><span class="logo"></span><h1 data-icon="&#xe00d;"><span class="visuallyhidden">Michael Elias - Web Design & Development</span></h1></a></div>
            <a href="#menu" class="navicon" data-icon="&#xe00c;"><span class="visuallyhidden">Menu</a></a>
            <nav id="menu" role="navigation">
              <ul>
                <li><a href="/archives" class="archives" data-icon="&#xe001;"><span class="visuallyhidden">Archives</span></a></li>
                <li><a href="mailto:michael(at)mikowl(dot)com" class="contact" data-icon="&#xe010;"><span class="visuallyhidden">Contact</span></a></li>
                <li><a href="http://twitter.com/mikowl" class="twitter" data-icon="&#xe005;"><span class="visuallyhidden">Twitter</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>