
<section class="about">
<h3>About</h3>
<figure class="about"><img src="/images/michael.jpg" alt="Michael Elias"></figure>
<p>Michael Elias is a web designer, developer, and consultant currently working at <a href="http://tmdcreative.com">TMD</a> in Salinas, CA.</p>
<p>Follow me on <a href="http://twitter.com/mikowl">twitter</a> or <a href="mailto:michael@mikowl.com">get in touch</a>.</p>
<a href="https://twitter.com/mikowl" class="twitter-follow-button" data-show-count="true">Follow @mikowl</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<a class="insta" href="http://instagram.com/mikowl" data-icon="&#xe00e;"><span class="visuallyhidden">Follow me on instagram</span></a>
</section>

<section class="recent-posts">
<h3>Recent Posts</h3>
<ul>
  {% for post in site.posts limit:4 %}
  <li><span data-icon="&#xe011;" aria-hidden="true"></span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title | truncate: 40 }}</a></li>
  {% endfor %}
</ul>
</section>

<section class="github">
  <h4><span data-icon="&#xe006;" aria-hidden="true"></span> GitHub Repos</h4>
  <ul class="gh_repos">
    <li class="loading">Status updating...</li>
  </ul>
  <a href="https://github.com/mikowl">@mikowl</a> on GitHub
</section>

<section class="pinboards">
  <h4><span data-icon="&#xe002;" aria-hidden="true"></span> Pinboards</h4>
  <ul id="pinboard_linkroll">Fetching linkroll...</ul>
  <p><a href="http://pinboard.in/u:mikowl">My Pinboard Bookmarks &raquo;</a></p>
</section>
