.row {
    width: 100%;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row:after {
    clear: both;
  }
  .row [class*="grid"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .row [class*="grid"]:first-child {
    margin-left: 0;
  }
  .row .controls-row [class*="grid"] + [class*="grid"] {
    margin-left: 2.564102564102564%;
  }
  .row .grid12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row .grid11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%;
  }
  .row .grid10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%;
  }
  .row .grid9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
  }
  .row .grid8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
  }
  .row .grid7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%;
  }
  .row .grid6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%;
  }
  .row .grid5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%;
  }
  .row .grid4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
  }
  .row .grid3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }
  .row .grid2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%;
  }
  .row .grid1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%;
  }