/*****************************************************************************/
/* Site Header
/*****************************************************************************/

.page-header {
  background: url(../images/noise.png) repeat;
  width:100%;
  height:220px;
  border-top:5px solid $tertiarycolor;
  @include transition(z-index 300ms ease-in-out, background 300ms ease-in-out, min-height 300ms ease-in-out, height 300ms ease-in-out);
}

a.brand {color:transparent;}

.brand {
  display:block;
  padding: 1em 0 0.3em 0;
  a {
    text-decoration: none;
    display:block;
    width:150px;
    height:150px;
    margin: 0 auto;
  }
  h1 {
    font-size:1.6em;
    color: $secondarycolor;
    border-bottom:none;
    padding:0;
    margin:0.4em 0 0 0;
    line-height: 1em;
    height:40px;
    text-align: center;
  }

  .logo {
    background:transparent url(../images/mikowl.png) no-repeat;
    background-image:-webkit-linear-gradient(transparent,transparent),url(../images/mikowl.svg);
    background-image:-moz-linear-gradient(transparent,transparent),url(../images/mikowl.svg);
    background-image:linear-gradient(transparent,transparent),url(../images/mikowl.svg);
    background-size:100% auto;
    padding: 0;
    position:relative;
    display:block;
    width:150px;
    height:150px;
    @include opacity(0.95);
    @include transition(all 0.3s ease-in-out);
      &:hover {
        @include opacity(1);
      }
  }
}


/*****************************************************************************/
/* Navigation
/*****************************************************************************/

a.navicon {
  position:absolute;
  right:17px;
  top:10px;
  display: block;
  text-decoration: none;
  line-height: 0.5em;
  padding: 8px;
  font-size: 1.6em;
  color: darken($secondarycolor, 10%);
}

#menu {
  position:absolute;
  width:51px;
  top:52px;
  right:17px;

  @include transition(all 300ms ease-in-out);
  ul {
    margin: 0;
    padding: 8px;
  }
  li {
    text-align: center;
    display: block;
    list-style-type: none;
    font-size:1.5em;
    color: #FFF;
    &:last-child {
      margin-bottom:0;
    }
    a {
      @include transition(all 300ms ease-in-out);
      color: lighten($primarycolor, 10%);
      text-decoration: none;
      &:hover{
        color:lighten($primarycolor, 20%);
      }
    }
  }
  .archives {
    font-size:1.4em;
  }
  .twitter {
    font-size: 1.2em;
  }
  .contact {
    font-size:0.9em;
  }
}

.js #menu {
  overflow: hidden;
  max-height: 0;
}

#menu.active {
  max-height: 20em;
}

@include at-breakpoint(50em) {
  #menu, a.navicon {
    right:44px;
  }
  .hdr-fixed.active {
    position:fixed;
    top:0;
    height:60px;
    width:100%;
    z-index: 9999;
      .brand .logo {
        width:80px;
        height:80px;
        padding:0;
        @include opacity(1);

      }
  .brand h1 {display:none;}
  }
}
