/*****************************************************************************/
/* Site Header
/*****************************************************************************/

.page-header {
  background: $header-bg url(../images/noise.png) repeat;
  width:100%;
  height:243px;
  border-top:5px solid $tertiarycolor;
  @include transition(z-index 300ms ease-in-out, background 300ms ease-in-out, min-height 300ms ease-in-out, height 300ms ease-in-out);
}

.page-header:hover {
  background: darken($header-bg, 3) url(../images/noise.png) repeat;
}

.brand .logo {
  background:transparent url(../img/grunt-logo.png) no-repeat;
  background-image:-webkit-linear-gradient(transparent,transparent),url(../images/mikowl.svg);
  background-image:-moz-linear-gradient(transparent,transparent),url(../images/mikowl.svg);
  background-image:linear-gradient(transparent,transparent),url(../images/mikowl.svg);
  background-size:100% auto;
  margin:0 auto;
  padding: 1.25em 0 0 0;
  position:relative;
  display:block;
  width:170px;
  height:170px;
  @include opacity(0.95);
  @include transition(all 0.3s ease-in-out);
  &:hover {
    @include opacity(1);
  }
}

a.brand {
  color:transparent;
}
.brand {
  display:block;
  padding: 0.75em 0 0.3em 0;
  text-decoration: none;
  h1 {
    font-size:1.6em;
    color: $secondarycolor;
    border-bottom:none;
    padding:0;
    margin:0;
    line-height: 1em;
    height:40px;
    text-align: center;
  }
}

.hdr-fixed.active {
  position:fixed;
  top:0;
  height:60px;
  width:100%;
  background: $header-bg url(../images/noise.png) repeat;
  z-index: 9999;
  .brand .logo {
    width:80px;
    height:80px;
    background-color: $primarycolor;
    border:5px solid $primarycolor;
    padding:0;
    @include opacity(1);
    @include border-radius(50%);

  }
  .brand h1 {display:none;}
}

/*****************************************************************************/
/* Navigation
/*****************************************************************************/

a.navicon {
  position:absolute;
  right:44px;
  top:10px;
  display: block;
  text-decoration: none;
  line-height: 0.5em;
  padding: 8px;
  font-size: 1.6em;
  color: $secondarycolor;
  background:darken($primarycolor, 7);
}

#menu {
    position:absolute;
    width:51px;
    top:52px;
    right:15px;
    background:darken($primarycolor, 7);
    @include transition(all 300ms ease-in-out);
    ul {
      margin: 0;
      padding: 8px;
    }
    li {
      text-align: center;
      display: block;
      list-style-type: none;
      font-size:1.5em;
      color: #FFF;
      &:last-child {
        margin-bottom:0;
      }
      a {
        @include transition(all 300ms ease-in-out);
        color:lighten($quaternarycolor, 8);
        text-decoration: none;
        &:hover{
          color:lighten($quaternarycolor, 20);
        }
      }
  }
  .archives {
    font-size:1.4em;
  }
  .twitter {
    font-size: 1.2em;
  }
}

.js #menu {
  overflow: hidden;
  max-height: 0;
}

#menu.active {
  max-height: 20em;
}
