/*****************************************************************************/
/* Variables
/*****************************************************************************/

//$sans-serif: 'Source Sans Pro', sans-serif;
$serif: 'PT Serif', serif;

$sans-serif:  'Lato', sans-serif; // 300, 400, 700

$header-bg: #354652;

$total-columns  : 12;
$column-width   : 4.4em;
$gutter-width   : 1.75em;
$grid-padding   : $gutter-width;


$container-style: magic;

$show-grid-backgrounds  : false;

$maintext : #444444;
$primarycolor : #344551; //blue
$secondarycolor : #83D4AA; //seafoamy
$tertiarycolor : #DE7568; //muted red
$quaternarycolor : #DEDC96; //lelllow


/*****************************************************************************/
/* Common
/*****************************************************************************/


@include at-breakpoint(30em) {
  html {
    background: url(../images/treebg.jpg) no-repeat center center fixed;
    @include background-size(cover);
  }
}

body {
  font-family: $sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4;
  color: $maintext;
  background-color: rgba(255, 255, 255, 0.2);
  text-rendering: optimizeLegibility;
  @include transition(background-color 1s ease-in-out);

  &.lighten {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

img {
  max-width: 100%;
}


/*****************************************************************************/
/* Typography
/*****************************************************************************/

a {
  color: $tertiarycolor;
  @include transition(all 0.3s ease-in-out);
}

p {
  margin:1em 0;
}

strong {
  background: lighten($quaternarycolor, 10);
  color:#000;
  padding:0 7px;
  @include border-radius(4px);
}

h1, h2, h3, h4 {
  font-family: $sans-serif;
  font-weight: 700;
}

ul {
  margin:1em 0;

  li {
    list-style-type: disc;
    margin-bottom:0.5em;
  }
}

ol {
  margin:1em 0;
  padding-left:1.1em;
  li {
    list-style-type: decimal;
  }
}
h1 {
  font-size:2.4em;
  margin:0.5em 0;
  line-height: 1em;
  color: lighten($primarycolor, 10);
  border-bottom:1px dashed #BABABA;
  padding-bottom:0.4em;
  margin-bottom:0.5em;
}

h2 {
  font-size: 1.5em;
  line-height:1.25em;
  margin:0 0 0.5em 0;
  font-weight: 700;

  a {
    color:lighten($primarycolor, 15);
    text-decoration: none;

    @include transition(all 300ms ease-in);
    &:hover {

      color:lighten($primarycolor, 25);
      border-bottom: 3px solid $secondarycolor;
    }
  }

  @include at-breakpoint(30em) {
    font-size:2.3em;
  }
}

h3 {
  font-size:1.6em;
  color:darken($tertiarycolor, 5);
  font-weight: 700;
  margin:0.75em 0;
  @include border-radius(3px);

  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color:lighten($tertiarycolor, 5);
    }
  }
}

blockquote {
  font-style: italic;
  position: relative;
  font-size:1.1em;
  line-height: 1.5em;
  padding-left: 1em;
  border-left: 4px solid $quaternarycolor;
}

.date {
  color: #DE7568;
  font-family: $sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

article {
  font-family: $serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-weight: 300;
  font-size:1.0625em;
  line-height: 1.7em;
  border-bottom:1px dashed #7FCDA5;
  padding-bottom:0.75em;
  margin-bottom:2em;
  &.single {
    border-bottom:none;
  }
  img {
    max-width: 100%;
    display:block;
    margin:0 0 0.65em 0;
    @include border-radius(4px);
  }
}

.share {
  margin-top:2em;
}

.g-plusone {margin-top:-.25em;}

/*****************************************************************************/
/* Layout
/*****************************************************************************/

$break: 8;

.container {
  position:relative;
  @include container($total-columns, $break);
  @include susy-grid-background;
}

.content {
  position:relative;
  @include transition(all 300ms ease-in-out);
}

@include at-breakpoint(50em) { // 800px
  $gutter-width   : 29em;
  .main-content {
    @include span-columns($break,$break, 1em);
    font-size:1.1em;
  }
  .side-bar {
    @include span-columns(4 omega, $break, 1em);
  }

}

@include at-breakpoint(65em) { // 1040px
  .main-content {
    font-size:1.25em;
  }
  body .side-bar {
    font-size:1em;
  }
}

/*****************************************************************************/
/* Posts
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
}

/* Code Blocks */

.highlight {
  overflow-x: auto;
  width:100%;
  @include border-radius(4px);
}

pre, code {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 300;
}

pre {
  font-size: .7em;
  line-height: 1.4em;
  font-weight: 400;
  padding: 1em;
}

code {
  padding: 0 .2em;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

p code, li code {
  color: #354652;
  font-weight: 400;
  display: inline-block;
  white-space: no-wrap;
  background: #fff;
  font-size: .75em;
  line-height: 1.5em;
  border: 1px solid lighten($primarycolor, 55);
  @include border-radius(3px);
  padding: 0 .3em;
  margin: 0 2px;
}
pre code {
  border: none;
}


/* Pagination */

.pagination {
  text-align: center;
  position:relative;
  margin-bottom:1em;
  padding:0.5em;

  .next {
    position:absolute;
    right:0;
  }
  .prev {
    position:absolute;
    left:0;
  }
  .disabled {display:none;}
}

/* Terminal */

pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/* Archives
/*****************************************************************************/

.a-post {
  time {
    background: $secondarycolor;
    color:#FFF;
    text-align: center;
    margin-right:1em;
    margin-top: 7px;
    padding: 5px 20px;
    @include border-radius(4px);
    font-family: $sans-serif;
  }
  h3 {
    display:block;
  }
  h3 a {
    color:lighten($primarycolor, 20);
    padding-top:5px;
    line-height: 1.2em;
    font-size:0.875em;
  }
}

/*****************************************************************************/
/* Footer
/*****************************************************************************/

footer {
  background: #2C3644 url(../images/noise.png) repeat;;
  font-weight:300;
  color: #A0AEB2;
  padding-bottom:1em;
}

.smedia {
  font-size:1.625em;
  margin-top:14px;
  a {
    color: $quaternarycolor;
    margin:0 0.4em;
    text-decoration: none;
    &:hover {
      color: darken($quaternarycolor, 10);
    }
  }

  .twitter-ico {
    font-size: 1.05em;
  }
}
